USE [master]
GO
/****** Object:  Database [QLKHACHSAN]    Script Date: 9/3/2020 2:46:53 PM ******/
CREATE DATABASE [QLKHACHSAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKHACHSAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLKHACHSAN.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLKHACHSAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLKHACHSAN_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKHACHSAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKHACHSAN]
GO
/****** Object:  Table [dbo].[BANGTHAMSO]    Script Date: 9/3/2020 2:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGTHAMSO](
	[MaThamSo] [varchar](50) NOT NULL,
	[TenThamSo] [nvarchar](200) NOT NULL,
	[TinhTrang] [bit] NOT NULL CONSTRAINT [DF_BANGTHAMSO_TinhTrang]  DEFAULT ((0)),
	[KieuDuLieu] [varchar](200) NOT NULL,
	[GiaTri] [varchar](200) NOT NULL,
	[NgayTao] [datetime] NOT NULL CONSTRAINT [FK_BANGTHAMSO_NgayTao]  DEFAULT (getdate()),
 CONSTRAINT [PK_BANGTHAMSO] PRIMARY KEY CLUSTERED 
(
	[MaThamSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 9/3/2020 2:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[DichVuID] [varchar](10) NOT NULL,
	[TenDichVu] [nvarchar](200) NOT NULL,
	[GiaBan] [float] NOT NULL,
	[GiaCungCap] [float] NOT NULL,
	[TinhTrangTonTai] [bit] NOT NULL CONSTRAINT [DF_DICHVU_TinhTrangTonTai]  DEFAULT ((0)),
	[LoaiDVID] [varchar](10) NOT NULL,
	[DonVi] [nvarchar](50) NULL,
	[NgayTao] [datetime] NOT NULL CONSTRAINT [DF_DICHVU_NgayTao]  DEFAULT (getdate()),
	[HinhAnh] [image] NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[DichVuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONTHUEPHONG]    Script Date: 9/3/2020 2:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONTHUEPHONG](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGianThue] [datetime] NOT NULL,
	[ThoiGianTra] [datetime] NULL,
	[TongTien] [float] NULL,
	[NhanVienTaoHoaDon] [int] NOT NULL,
	[Phong] [varchar](10) NOT NULL,
	[MaKhachHang] [int] NULL,
	[NgayTao] [datetime] NOT NULL CONSTRAINT [DF_HOADONTHUEPHONG_NgayTao]  DEFAULT (getdate()),
 CONSTRAINT [PK_HOADONTHUEPHONG] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 9/3/2020 2:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SDT] [numeric](10, 0) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[CMND] [numeric](15, 0) NOT NULL,
	[TinhTrang] [bit] NOT NULL CONSTRAINT [DF_KHACHHANG_TinhTrang]  DEFAULT ((0)),
	[NgayTao] [datetime] NOT NULL CONSTRAINT [DF_KHACHHANG_NgayTao]  DEFAULT (getdate()),
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LICHSUTHEMDICHVU]    Script Date: 9/3/2020 2:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHSUTHEMDICHVU](
	[ThoiGianThem] [datetime] NOT NULL CONSTRAINT [DF_LICHSUTHEMDICHVU_ThoiGianthem]  DEFAULT (getdate()),
	[SoLuong] [int] NOT NULL,
	[MaHoaDon] [int] NOT NULL,
	[DichVuID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_LICHSUTHEMDICHVU] PRIMARY KEY CLUSTERED 
(
	[ThoiGianThem] ASC,
	[MaHoaDon] ASC,
	[DichVuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIDV]    Script Date: 9/3/2020 2:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIDV](
	[LoaiDVID] [varchar](10) NOT NULL,
	[TenLoai] [nvarchar](200) NOT NULL,
	[TinhTrang] [bit] NOT NULL CONSTRAINT [DF_LOAIDV_TinhTrang]  DEFAULT ((0)),
	[NgayTao] [datetime] NOT NULL CONSTRAINT [DF_LOAIDV_NgayTao]  DEFAULT (getdate()),
 CONSTRAINT [PK_LOAIDV] PRIMARY KEY CLUSTERED 
(
	[LoaiDVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAINHANVIEN]    Script Date: 9/3/2020 2:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINHANVIEN](
	[LoaiNVID] [int] NOT NULL,
	[TenLoai] [nvarchar](200) NOT NULL,
	[TinhTrang] [bit] NOT NULL CONSTRAINT [DF_LOAINV_TinhTrang]  DEFAULT ((0)),
	[NgayTao] [datetime] NOT NULL CONSTRAINT [FK_LOAINV_NgayTao]  DEFAULT (getdate()),
 CONSTRAINT [PK_LoaiNV] PRIMARY KEY CLUSTERED 
(
	[LoaiNVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 9/3/2020 2:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[LoaiPhongID] [varchar](10) NOT NULL,
	[TenLoai] [nvarchar](200) NOT NULL,
	[TinhTrang] [bit] NOT NULL CONSTRAINT [DF_LOAIPHONG_TinhTrang]  DEFAULT ((0)),
	[NgayTao] [datetime] NOT NULL CONSTRAINT [DF_LOAIPHONG_NgayTao]  DEFAULT (getdate()),
 CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[LoaiPhongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 9/3/2020 2:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[NhanVienID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](100) NOT NULL,
	[TinhTrang] [bit] NOT NULL CONSTRAINT [DF_NHANVIEN_TinhTrang]  DEFAULT ((0)),
	[HoTen] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SDT] [numeric](10, 0) NOT NULL,
	[CMND] [numeric](15, 0) NOT NULL,
	[Email] [varchar](50) NULL,
	[Loai] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL CONSTRAINT [DF_NHANVIEN_NgayTao]  DEFAULT (getdate()),
	[AnhDaiDien] [image] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NVKETOAN]    Script Date: 9/3/2020 2:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NVKETOAN](
	[NhanVienID] [int] NOT NULL,
 CONSTRAINT [PK_NVKETOAN] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NVLETAN]    Script Date: 9/3/2020 2:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NVLETAN](
	[NhanVienID] [int] NOT NULL,
 CONSTRAINT [PK_NVLETAN] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NVQUANLI]    Script Date: 9/3/2020 2:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NVQUANLI](
	[NhanVienID] [int] NOT NULL,
 CONSTRAINT [PK_NVQUANLI] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 9/3/2020 2:46:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[PhongID] [varchar](10) NOT NULL,
	[TenPhong] [nvarchar](200) NOT NULL,
	[DonGia] [float] NOT NULL,
	[TinhTrangTonTai] [bit] NOT NULL CONSTRAINT [DF_PHONG_TinhTrangTonTai]  DEFAULT ((0)),
	[TinhTrangThue] [bit] NOT NULL CONSTRAINT [DF_PHONG_TinhTrangThue]  DEFAULT ((0)),
	[LoaiPhongID] [varchar](10) NOT NULL,
	[NgayTao] [datetime] NOT NULL CONSTRAINT [DF_PHONG_NgayTao]  DEFAULT (getdate()),
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[PhongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BANGTHAMSO] ([MaThamSo], [TenThamSo], [TinhTrang], [KieuDuLieu], [GiaTri], [NgayTao]) VALUES (N'GIA1', N'Phần trăm giá thứ 1', 0, N'INT', N'30', CAST(N'2020-08-22 11:48:07.863' AS DateTime))
INSERT [dbo].[BANGTHAMSO] ([MaThamSo], [TenThamSo], [TinhTrang], [KieuDuLieu], [GiaTri], [NgayTao]) VALUES (N'GIA2', N'Phần trăm giá thứ 2', 0, N'INT', N'50', CAST(N'2020-08-22 11:48:07.863' AS DateTime))
INSERT [dbo].[BANGTHAMSO] ([MaThamSo], [TenThamSo], [TinhTrang], [KieuDuLieu], [GiaTri], [NgayTao]) VALUES (N'GIA3', N'Phần trăm giá thứ 3', 0, N'INT', N'100', CAST(N'2020-08-22 11:48:07.863' AS DateTime))
SET IDENTITY_INSERT [dbo].[HOADONTHUEPHONG] ON 

INSERT [dbo].[HOADONTHUEPHONG] ([MaHoaDon], [ThoiGianThue], [ThoiGianTra], [TongTien], [NhanVienTaoHoaDon], [Phong], [MaKhachHang], [NgayTao]) VALUES (1, CAST(N'2020-06-08 00:00:00.000' AS DateTime), CAST(N'2020-08-21 17:37:28.067' AS DateTime), 28860000, 1, N'P102', 1, CAST(N'2020-06-08 00:00:00.000' AS DateTime))
INSERT [dbo].[HOADONTHUEPHONG] ([MaHoaDon], [ThoiGianThue], [ThoiGianTra], [TongTien], [NhanVienTaoHoaDon], [Phong], [MaKhachHang], [NgayTao]) VALUES (2, CAST(N'2020-08-12 00:00:00.000' AS DateTime), CAST(N'2020-08-21 18:17:02.127' AS DateTime), 8083000, 1, N'P301', 56, CAST(N'2020-08-14 21:36:15.223' AS DateTime))
INSERT [dbo].[HOADONTHUEPHONG] ([MaHoaDon], [ThoiGianThue], [ThoiGianTra], [TongTien], [NhanVienTaoHoaDon], [Phong], [MaKhachHang], [NgayTao]) VALUES (7, CAST(N'2020-08-17 21:28:21.987' AS DateTime), CAST(N'2020-08-19 20:37:22.973' AS DateTime), 600000, 1, N'P101', 52, CAST(N'2020-08-17 21:28:21.987' AS DateTime))
SET IDENTITY_INSERT [dbo].[HOADONTHUEPHONG] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [SDT], [DiaChi], [CMND], [TinhTrang], [NgayTao]) VALUES (1, N'Trần Ngọc Quang', CAST(343650858 AS Numeric(10, 0)), N'ĐH Khoa Học Tự Nhiênnn', CAST(312395992 AS Numeric(15, 0)), 0, CAST(N'2020-08-05 00:00:00.000' AS DateTime))
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [SDT], [DiaChi], [CMND], [TinhTrang], [NgayTao]) VALUES (38, N'Hoang', CAST(11111111 AS Numeric(10, 0)), N'3012, tổ 12', CAST(12345678 AS Numeric(15, 0)), 0, CAST(N'2020-08-17 16:47:48.333' AS DateTime))
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [SDT], [DiaChi], [CMND], [TinhTrang], [NgayTao]) VALUES (39, N'Vy', CAST(1 AS Numeric(10, 0)), N'wwwww', CAST(123 AS Numeric(15, 0)), 0, CAST(N'2020-08-17 16:52:55.303' AS DateTime))
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
INSERT [dbo].[LICHSUTHEMDICHVU] ([ThoiGianThem], [SoLuong], [MaHoaDon], [DichVuID]) VALUES (CAST(N'2020-08-20 19:19:24.730' AS DateTime), 1, 1, N'DV001')
INSERT [dbo].[LICHSUTHEMDICHVU] ([ThoiGianThem], [SoLuong], [MaHoaDon], [DichVuID]) VALUES (CAST(N'2020-08-20 19:19:24.730' AS DateTime), 2, 1, N'DV004')
INSERT [dbo].[LICHSUTHEMDICHVU] ([ThoiGianThem], [SoLuong], [MaHoaDon], [DichVuID]) VALUES (CAST(N'2020-08-20 19:31:50.033' AS DateTime), 1, 1, N'DV001')
INSERT [dbo].[LOAIDV] ([LoaiDVID], [TenLoai], [TinhTrang], [NgayTao]) VALUES (N'GIAT', N'Giặt ủi', 0, CAST(N'2020-08-17 15:18:02.613' AS DateTime))
INSERT [dbo].[LOAIDV] ([LoaiDVID], [TenLoai], [TinhTrang], [NgayTao]) VALUES (N'SPA', N'Chăm sóc sắc đẹp', 0, CAST(N'2020-09-03 11:02:18.377' AS DateTime))
INSERT [dbo].[LOAIDV] ([LoaiDVID], [TenLoai], [TinhTrang], [NgayTao]) VALUES (N'THUCPHAM', N'Đồ ăn', 0, CAST(N'2020-07-16 15:27:39.440' AS DateTime))
INSERT [dbo].[LOAINHANVIEN] ([LoaiNVID], [TenLoai], [TinhTrang], [NgayTao]) VALUES (1, N'Nhân viên quản lí', 0, CAST(N'2020-08-22 08:02:22.590' AS DateTime))
INSERT [dbo].[LOAINHANVIEN] ([LoaiNVID], [TenLoai], [TinhTrang], [NgayTao]) VALUES (2, N'Nhân viên kế Toán', 0, CAST(N'2020-08-22 08:02:22.590' AS DateTime))
INSERT [dbo].[LOAINHANVIEN] ([LoaiNVID], [TenLoai], [TinhTrang], [NgayTao]) VALUES (3, N'Nhân viên lễ tân', 0, CAST(N'2020-08-22 08:02:22.590' AS DateTime))
INSERT [dbo].[LOAIPHONG] ([LoaiPhongID], [TenLoai], [TinhTrang], [NgayTao]) VALUES (N'THUONG1', N'Phòng thường 1 giường', 0, CAST(N'2020-07-16 15:27:39.420' AS DateTime))
INSERT [dbo].[LOAIPHONG] ([LoaiPhongID], [TenLoai], [TinhTrang], [NgayTao]) VALUES (N'THUONG2', N'Phòng thường giường đôi', 0, CAST(N'2020-07-16 15:27:39.420' AS DateTime))
INSERT [dbo].[LOAIPHONG] ([LoaiPhongID], [TenLoai], [TinhTrang], [NgayTao]) VALUES (N'VIP1', N'Phòng cao cấp 1 giường', 0, CAST(N'2020-07-16 15:27:39.420' AS DateTime))
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
INSERT [dbo].[PHONG] ([PhongID], [TenPhong], [DonGia], [TinhTrangTonTai], [TinhTrangThue], [LoaiPhongID], [NgayTao]) VALUES (N'P101', N'Phòng 101, lầu 1', 200000, 0, 1, N'THUONG1', CAST(N'2020-07-16 15:27:39.433' AS DateTime))
INSERT [dbo].[PHONG] ([PhongID], [TenPhong], [DonGia], [TinhTrangTonTai], [TinhTrangThue], [LoaiPhongID], [NgayTao]) VALUES (N'P102', N'Phòng 102, lầu 1', 390000, 0, 1, N'THUONG2', CAST(N'2020-07-16 15:27:39.433' AS DateTime))
INSERT [dbo].[PHONG] ([PhongID], [TenPhong], [DonGia], [TinhTrangTonTai], [TinhTrangThue], [LoaiPhongID], [NgayTao]) VALUES (N'P201', N'Phòng 201, lầu 2', 400000, 0, 1, N'VIP1', CAST(N'2020-07-16 15:27:39.433' AS DateTime))
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_DICHVU_LOAIDV] FOREIGN KEY([LoaiDVID])
REFERENCES [dbo].[LOAIDV] ([LoaiDVID])
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [FK_DICHVU_LOAIDV]
GO
ALTER TABLE [dbo].[HOADONTHUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONTHUEPHONG_KHACHHANG] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADONTHUEPHONG] CHECK CONSTRAINT [FK_HOADONTHUEPHONG_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADONTHUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONTHUEPHONG_NHANVIEN] FOREIGN KEY([NhanVienTaoHoaDon])
REFERENCES [dbo].[NHANVIEN] ([NhanVienID])
GO
ALTER TABLE [dbo].[HOADONTHUEPHONG] CHECK CONSTRAINT [FK_HOADONTHUEPHONG_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADONTHUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONTHUEPHONG_PHONG] FOREIGN KEY([Phong])
REFERENCES [dbo].[PHONG] ([PhongID])
GO
ALTER TABLE [dbo].[HOADONTHUEPHONG] CHECK CONSTRAINT [FK_HOADONTHUEPHONG_PHONG]
GO
ALTER TABLE [dbo].[LICHSUTHEMDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUTHEMDICHVU_DICHVU] FOREIGN KEY([DichVuID])
REFERENCES [dbo].[DICHVU] ([DichVuID])
GO
ALTER TABLE [dbo].[LICHSUTHEMDICHVU] CHECK CONSTRAINT [FK_LICHSUTHEMDICHVU_DICHVU]
GO
ALTER TABLE [dbo].[LICHSUTHEMDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUTHEMDICHVU_HOADONTHUEPHONG] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADONTHUEPHONG] ([MaHoaDon])
GO
ALTER TABLE [dbo].[LICHSUTHEMDICHVU] CHECK CONSTRAINT [FK_LICHSUTHEMDICHVU_HOADONTHUEPHONG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_LOAINHANVIEN] FOREIGN KEY([Loai])
REFERENCES [dbo].[LOAINHANVIEN] ([LoaiNVID])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_LOAINHANVIEN]
GO
ALTER TABLE [dbo].[NVKETOAN]  WITH CHECK ADD  CONSTRAINT [FK_NVKETOAN_NHANVIEN] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NHANVIEN] ([NhanVienID])
GO
ALTER TABLE [dbo].[NVKETOAN] CHECK CONSTRAINT [FK_NVKETOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[NVLETAN]  WITH CHECK ADD  CONSTRAINT [FK_NVLETAN_NHANVIEN] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NHANVIEN] ([NhanVienID])
GO
ALTER TABLE [dbo].[NVLETAN] CHECK CONSTRAINT [FK_NVLETAN_NHANVIEN]
GO
ALTER TABLE [dbo].[NVQUANLI]  WITH CHECK ADD  CONSTRAINT [FK_NVQUANLI_NHANVIEN] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NHANVIEN] ([NhanVienID])
GO
ALTER TABLE [dbo].[NVQUANLI] CHECK CONSTRAINT [FK_NVQUANLI_NHANVIEN]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_LOAIPHONG] FOREIGN KEY([LoaiPhongID])
REFERENCES [dbo].[LOAIPHONG] ([LoaiPhongID])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_LOAIPHONG]
GO
USE [master]
GO
